
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'lato';
    text-transform: uppercase;
}

p {
    margin: auto;
}

.container-fluid {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

/* START OF PLAYER STYLE */
.player {
    width: 50vw;
    height: 100vh;
}

.score {
    height: 100vh;
    
}
.global-score-display {
    width: 25vw;
}

.name p {
    font-size: 3em;
}
.active {
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.global-score-count {
    margin: auto;
    font-size: 5em;
    font-weight: lighter;
}

.current-score-display {
    width: 15vw;
    height: auto;
}

.current-score-count {
    font-size: 2em;
}

/* END OF PLAYER STYLE */

/* START OF SETTINGS STYLE */
.settings {
    position: absolute;
    top: -3vh;
    left: 47vw;
    z-index: 2;
    
    height: 100vh;
}

.dice {
    width: 70px;
    height: 70px;
    border-radius: 7px;
    background-color: white;
    
}

.dice img {
    width: 100%;
    box-shadow: 10px 5px 5px rgb(239, 238, 238);
}
.bi-plus-circle, .bi-arrow-repeat, .bi-box-arrow-in-down {
    cursor: pointer;
}
/* END OF SETTINGS STYLE */